.chat-main__message-list__data-message-id{data: {message: {id: message.id}}}
  .chat-main__message-list__data-message-id__upper-info
    .chat-main__message-list__data-message-id__upper-info__taker
      = message.user.name
    .chat-main__message-list__data-message-id__upper-info__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .chat-main__message-list__data-message-id__message-text
    - if message.content.present?
      .chat-main__message-list__data-message-id__message-text
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?